
@model ASPNetCoreMVC2Introduction.Models.EmployeeAddViewModel;


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form asp-controller="Employee" asp-action="Add">
        <label asp-for="Employee.ID"></label><input asp-for="Employee.ID" /><br />
        <label asp-for="Employee.FirstName"></label><input asp-for="Employee.FirstName" /><br />
        <label asp-for="Employee.LastName"></label><input asp-for="Employee.LastName" /><br />
        <label asp-for="Employee.CityID"></label><select asp-for="Employee.CityID" asp-items="Model.Cities"></select>  <br />

        <button type="submit">Add</button>
    </form>
</body>
</html>
