
@model ASPNetCoreMVC2Introduction.Models.EmployeeAddViewModel;




    <form asp-controller="Employee" asp-action="Add">
        <label asp-for="Employee.ID"></label><input asp-for="Employee.ID" /><br />
        <label asp-for="Employee.FirstName"></label><input asp-for="Employee.FirstName" /><br />
        <label asp-for="Employee.LastName"></label><input asp-for="Employee.LastName" /><br />
        <label asp-for="Employee.CityID"></label><select asp-for="Employee.CityID" asp-items="Model.Cities"></select>  <br />

        <button type="submit">Add</button>

        <br/>
        <br/>
        <employee-list count="3"></employee-list>
    </form>


@section MySection{ 
    Some Content
}